@import url(variable.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    p {color: aliceblue;}
    h2{color: aliceblue;}
}
body{
    display: grid;
    width: 100%;
    height: 100vh;
   
    grid-template-columns: repeat(24 , 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: 

    ". . . . . . image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 . . . . . ."
    ". . . . . . image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 . . . . . ."
    ". . . . . . image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 . . . . . ."
    ". . . . . . image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 . . . . . ."
    ". . . . . . image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 . . . . . ."
    ". . . . . . image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 . . . . . ."
    ". . . . . . image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 . . . . . ."
    ". . . . . . image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 image1 . . . . . ."
    ". . . . . . image2 image2 image2 image2 image3 image3 image3 image3 image4 image4 image4 image4 . . . . . ."
    ". . . . . . image2 image2 image2 image2 image3 image3 image3 image3 image4 image4 image4 image4 . . . . . ."
    ". . . . . . image2 image2 image2 image2 image3 image3 image3 image3 image4 image4 image4 image4 . . . . . ."
    ". . . . . . image2 image2 image2 image2 image3 image3 image3 image3 image4 image4 image4 image4 . . . . . ."
    
    ;
}
   
   .item_1{
    background: linear-gradient(90deg, black, trasnparent);;
    grid-area: image1;
    position: relative;
    z-index: -1;
   }

   .item_1 img{
    
    height: 100%;
    width: 100%;
    
    
    
   }
    .item_1 h1{
   

    height: 231px;
    display: flex;
    align-items: end;
    justify-content: left;
    position: relative;
    margin-top: -230px;
    padding-left: 10%;
    padding-bottom: 27%;
    font-family: "Lato", sans-serif;
    font-size-adjust:8px;
    font-size: 16px;
    font-style: light;
    z-index: 3;
    

    

}



   .item_2{
    background:blue;
    grid-area: image2;
    background: url(storage/images/x.png);
} 
  .item_2 img{
    height: 100%;
    width: 100%;
    z-index: -1;

}



    .item_2 p{

        background: linear-gradient(360deg,black, transparent, transparent);
        height: 225px;
        display: flex;
        align-items: end;
        position: relative;
        margin-top: -230px;
        padding: 10%;
        font-family: "Lato", sans-serif;
        font-size-adjust:8px;
        font-size: 10px;
        font-style: light;
    

    }

    .item_2 h2{

        height: 231px;
        display: flex;
        align-items: end;
        justify-content: left;
        position: relative;
        margin-top: -230px;
        padding-left: 10%;
        padding-bottom: 27%;
        font-family: "Lato", sans-serif;
        font-size-adjust:8px;
        font-size: 16px;
        font-style: light;
        z-index: 3;

    }

 
    
   .item_3{
    background: green;
    grid-area: image3;
   
    background-image: url( storage/images/imagedos.png);
   }
   .item_3 img{
    height: 100%;
    width: 100%;
    background-color: aqua;
    z-index: -1;
   }

 .item_3 h2{
    
    height: 226px;
    display: flex;
    align-items: end;
    justify-content: left;
    position: relative;
    margin-top: -230px;
    padding-left: 10%;
    padding-bottom: 25%;
    font-family: "Lato", sans-serif;
    font-size-adjust:8px;
    font-size: 16px;
    font-style: light;
    z-index: 3;
 }
   .item_3 p {
    background: linear-gradient(360deg,black, transparent, transparent);
    height: 230px;
    display: flex;
    align-items: end;
    position: relative;
    margin-top: -230px;
    padding: 10%;
    font-family: "Lato", sans-serif;
    font-size-adjust:8px;
    font-size: 10px;
    font-style: light;

   }
   
   .item_4{
    
    background: yellow;
    grid-area: image4;
    background-image: url(storage/images/imagetres.png);
    
    
   }
   .item_4 img{

   height: 100%;
   width: 100%;
   background-color: aqua;
   z-index: -1;
   
    
   }
   
   .item_4 p { 
    background: linear-gradient(360deg,black, transparent, transparent);
    height: 246px;

    display: flex;
    align-items: end;
    justify-content: start;
    position: relative;
    margin-top: -250px;
    padding: 10%;
    font-family: "Lato", sans-serif;
    font-size-adjust:8px;
    font-size: 10px;
    font-style: light;

   }
   
   .item_4 h2{
    height: 230px;
    display: flex;
    align-items: end;
    justify-content: left;
    position: relative;
    margin-top: -230px;
    padding-left: 10%;
    padding-bottom: 27%;
    font-family: "Lato", sans-serif;
    font-size-adjust:8px;
    font-size: 16px;
    font-style: light;
    z-index: 3;

   }



   